@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: 0;
    font-family: 'Gothic A1', sans-serif;
}

/*
@media (min-width: 576px) {
    .wrapper {
        width: 390px;
        margin: 0 auto;
    }
}*/

:root {
    /* color */
    --black: #171717;
    --green: #b0ff00;
    --blue: #1962ed;
    --red: #f22b02;
    --background: #e2e2e2;
    --background-green: linear-gradient(to bottom, #b0ff00, #e2e2e2);
    --light-gray: #f3f5f2;
    --white: #ffffff;
    --gray: #d4d4d4;

    /* font */
    --korean: 'Gothic A1', sans-serif;
    --english: 'Montserrat', sans-serif;
}
